.love-story-two {
    background-color: #dbe098;

    @media (orientation: portrait) {
        grid-template-areas:
                "story-one-pic story-one-caption"
                "story-two-caption story-two-pic";
    }

    @media (orientation: landscape) {
        grid-template-areas:
                "story-one-pic story-one-caption story-two-pic story-two-caption"
    }
}

.love-story-three {
    background-color: #8e715b;

    @media (orientation: portrait) {
        grid-template-areas:
                "story-one-pic story-one-caption"
                "story-two-caption story-two-pic";
    }

    @media (orientation: landscape) {
        grid-template-areas:
                "story-one-caption story-one-pic story-two-caption story-two-pic"
    }
}

.love-story-two, .love-story-three {
    display: grid;
    font-family: 'Open Sans', sans-serif;

    @media (orientation: portrait) {
        font-size: 3dvw;
    }

    @media (orientation: landscape) {
        font-size: 1dvw;
    }

    .story-caption {
        padding: 5dvw;
        box-sizing: border-box;

        @media (orientation: portrait) {
            height: 50dvh;
            width: 50dvw;
        }

        @media (orientation: landscape) {
            height: 100dvh;
            width: 25dvw;
        }
    }

    .story-one-pic { grid-area: story-one-pic; }
    .story-one-caption { grid-area: story-one-caption; }
    .story-two-pic { grid-area: story-two-pic; }
    .story-two-caption { grid-area: story-two-caption; }
    .story-three-pic { grid-area: story-one-pic; }
    .story-three-caption { grid-area: story-one-caption; }
    .story-four-pic { grid-area: story-two-pic; }
    .story-four-caption { grid-area: story-two-caption; }

    .carousel {
        @media (orientation: landscape) {
            min-width: 25dvw;
            max-width: 25dvw;
            height: 100dvh;
        }

        @media (orientation: portrait) {
            min-height: 50dvh;
            max-height: 50dvh;
            width: 50dvw;
        }
    }

    img {
        object-fit: cover;

        width: 100%;
        height: 100%;
    }

    .love-story-heading {
        font-family: 'Brolimo', sans-serif;

        @media (orientation: portrait) {
            font-size: 4dvw;
        }

        @media (orientation: landscape) {
            font-size: 2dvw;
        }
    }

    .love-story-text {
        font-family: 'Open Sans', sans-serif;
    }
}