.love-story-two-alt {
    background-color: #dbe098;

    .two-pane-left, .two-pane-right {
        position: relative;
    }

    @media (orientation: portrait) {
        .two-pane-left {
            margin-bottom: 2vw;
        }
    }

    @media (orientation: landscape) {
        .two-pane-left, .two-pane-right {
            width: calc(50vw - 10px) !important;
        }

        .two-pane-right {
            margin-left: 20px;
        }
    }

    .story-caption, .image-scroll-arrow-container {
        background-color: rgba(219, 224, 152, 0.8);
    }
}

.love-story-three-alt {
    background-color: #8e715b;

    .two-pane-left, .two-pane-right {
        position: relative;
    }

    .two-pane-left {
        .image-scroll-arrow-container {
            background-color: rgba(142, 113, 91, 0.8);
        }
    }

    .two-pane-right {
        @media (orientation: portrait) {
            display: flex;
            flex-direction: row !important;

            img {
                width: 50dvw;
                height: calc(50dvh - 10px);
                object-fit: cover;
                margin-top: 10px;
            }

            .story-caption {
                position: relative;
                text-align: left;
                bottom: 0;
                right: 0;
                padding: 5dvw;
                box-sizing: border-box;
                width: 50vw;
                z-index: 2;
                transform: translate(0, 0);
            }
        }

        @media (orientation: landscape) {
            img {
                width: calc(50dvw - 20px);
                height: 100dvh;
                object-fit: cover;
                margin-left: 20px;
            }
        }
    }

    .story-caption {
        background-color: rgba(142, 113, 91, 0.8);
    }
}

.love-story-two-alt, .love-story-three-alt {
    font-family: 'Open Sans', sans-serif;
    position: relative;

    @media (orientation: portrait) {
        font-size: 3dvw;
    }

    @media (orientation: landscape) {
        font-size: 1dvw;
    }

    .image-scroll {
        img {
            object-fit: contain;
            object-position: center;

            margin-right: auto;
            height: 100%;
        }
    }

    .story-caption {
        position: absolute;
        text-align: left;
        max-width: 450px;

        @media (orientation: portrait) {
            width: 90%;
            padding: 3%;
            right: 50vw;
            bottom: 3vw;
            border-radius: 2vw;
            transform: translateX(50%);
        }

        @media (orientation: landscape) {
            width: 84%;
            padding: 3%;
            right: 25vw;
            bottom: 8vh;
            border-radius: 2vh;
            transform: translateX(50%);
        }
    }

    .love-story-heading {
        font-family: 'Brolimo', sans-serif;

        @media (orientation: portrait) {
            font-size: 4dvw;
            margin-bottom: 2dvw;
        }

        @media (orientation: landscape) {
            font-size: 2dvw;
        }
    }

    .love-story-text {
        font-family: 'Open Sans', sans-serif;

        @media (orientation: portrait) {
            font-size: 2.7dvw;
        }

        @media (orientation: landscape) {
            font-size: 1dvw;
        }
    }
}