.the-bride {
    position: relative;
    overflow: hidden;

    .the-bride-left {
        object-fit: cover;

        @media (orientation: portrait) {
            height: 100dvh;
            width: 200dvw;
            transform: translate(-45%, 0);
        }

        @media (orientation: landscape) {
            width: 100dvw;
            min-height: 100dvh;
            transform: translate(-45%, 0);
        }
    }

    .the-bride-right {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 40dvh;
        background: linear-gradient(to bottom, #bee5b0, #bee5b0 20%, rgba(190, 229, 176, 0));

        .the-bride-right-text {
            position: absolute;
            top: 3dvh;
            width: 100%;
            text-align: center;
        }
    }
}