.the-groom {
    position: relative;
    overflow: hidden;

    .the-groom-left {
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        height: 60dvh;
        background: linear-gradient(to top, #8bd3e6, #8bd3e6 30%, rgba(139, 211, 230, 0));

        .the-groom-left-text {
            position: absolute;
            bottom: 8dvh;
            width: 100%;
            text-align: center;
        }
    }

    .the-groom-right {
        object-fit: cover;

        @media (orientation: portrait) {
            height: 100dvh;
            width: 160dvw;
            transform: translate(-22%, 0);
        }

        @media (orientation: landscape) {
            width: 80dvw;
            height: 100dvh;
            object-position: 50% 35%;
            transform: translate(-22%, 0);
        }
    }
}