body {
    font-family: 'Comic Sans MS', sans-serif;
}

.page {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slide {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}