.landing-page {
    font-family: Garamond, serif;
    font-size: 8vw;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: url("../../../public/images/pexels-annetnavi-792726.jpg");
    background-size: cover;
}

.subtitle {
    font-size: 3vw;
}

/*.title {*/
/*    display: flex;*/
/*    align-items: baseline;*/
/*    justify-content: center;*/
/*    width: 100vw;*/

/*    .title-name {*/
/*        font-size: 10vw;*/
/*    }*/

/*    .title-and {*/
/*        font-size: 5vw;*/
/*        text-transform: uppercase;*/
/*    }*/
/*}*/