@font-face {
    font-family: 'Whispering Signature';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/WhisperingSignature.woff') format('woff');
}

@font-face {
    font-family: 'Cailyne';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/Cailyne.otf') format('opentype');
}

@font-face {
    font-family: 'Jasmine Reminiscentse';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/JasmineReminiscentse.ttf') format('truetype');
}

@font-face {
    font-family: 'Neoteric';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/NEOTERIC.ttf') format('truetype');
}

@font-face {
    font-family: 'Brolimo';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/brolimo.woff2') format('woff');
}

.overlay {
    background-color: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(5dvh);
    position: fixed;
    display: block;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    color: rgb(255, 253, 208);

    .overlay-content {
        transform: translate(0%, -50%);
        position: fixed;
        bottom: 50dvh;
        text-align: center;
        width: 100dvw;

        .title {
            font-family: 'Whispering Signature', serif;

            @media (orientation: portrait) {
                font-size: 7dvw;
                padding: 4dvw 0;
            }

            @media (orientation: landscape) {
                font-size: 2.5dvw;
            }
        }

        .subtitle {
            font-family: 'Cailyne', sans-serif;

            @media (orientation: portrait) {
                font-size: 4dvw;
            }

            @media (orientation: landscape) {
                font-size: 1dvw;
            }
        }
    }

    .loader-and-button {
        position: fixed;
        top: 70dvh;
        width: 100dvw;
        text-align: center;

        .MuiButton-contained {
            background-color: #807a4d;
            border-color: #807a4d;
            text-transform: lowercase;
            font-weight: bold;
        }

        .loader {
            border: 2px solid white;
            width: 50dvw;
            margin-left: auto;
            margin-right: auto;

            .loading-bar {
                height: 5px;
                background-color: white;
            }
        }
    }
}

.page {
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    @media (orientation: portrait) {
        font-size: 4dvw;
    }

    @media (orientation: landscape) {
        font-size: 1dvw;
    }

    .welcome {
        text-align: center;
        position: relative;

        .welcome-image {
            object-fit: cover;
            overflow: hidden;

            @media (orientation: portrait) {
                transform: translate(-15%, 0);
                height: 100dvh;
            }

            @media (orientation: landscape) {
                width: 100dvw;
                height: 100dvh;
            }
        }

        .welcome-group {
            position: absolute;
            top: 8dvh;
            left: 50dvw;
            transform: translate(-50%, 0%);
            background-color: rgb(255, 253, 208);
            border-radius: 100dvw;
            box-shadow: 0 0 2dvh #333129;
            backdrop-filter: blur(5dvh);

            @media (orientation: portrait) {
                padding: 4dvw 8dvw;
            }

            @media (orientation: landscape) {
                padding: 1dvw 4dvw;
            }

            .title {
                font-family: 'Neoteric', sans-serif;
                white-space: normal;

                @media (orientation: portrait) {
                    font-size: 6dvw;
                    width: 70dvw;
                }

                @media (orientation: landscape) {
                    font-size: 2.5dvw;
                    width: 40dvw;
                }
            }

            .subtitle {
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Cailyne', sans-serif;

                @media (orientation: landscape) {
                    font-size: 1dvw;
                }

                @media (orientation: portrait) {
                    font-size: 3dvw;
                    font-weight: bold;
                }
            }
        }

        .welcome-content {
            position: absolute;
            bottom: 10dvh;
            left: 50dvw;
            transform: translate(-50%, 0%);
            background-color: rgb(255, 253, 208);
            /*background-color: rgba(255, 251, 161, 0.5);*/
            border-radius: 100dvw;
            box-shadow: 0 0 2dvh #333129;
            backdrop-filter: blur(5dvh);

            @media (orientation: portrait) {
                padding: 4dvw;
                width: 68dvw;
            }

            @media (orientation: landscape) {
                padding: 1dvw;
                width: 30dvw;
            }

            .title {
                font-family: 'Whispering Signature', serif;

                @media (orientation: portrait) {
                    font-size: 7dvw;
                }

                @media (orientation: landscape) {
                    font-size: 2.5dvw;
                }
            }

            .subtitle {
                font-family: 'Cailyne', sans-serif;

                @media (orientation: landscape) {
                    font-size: 1dvw;
                }

                @media (orientation: portrait) {
                    font-size: 3dvw;
                    font-weight: bold;
                }
            }
        }
    }

    .one-pane {
        width: 100dvw;
    }

    .pane-header {
        font-family: 'Jasmine Reminiscentse', sans-serif;

        @media (orientation: portrait) {
            font-size: 12dvw;
            padding-bottom: 5dvw;
            padding-top: 4dvh;
        }

        @media (orientation: landscape) {
            font-size: 5dvw;
            padding-bottom: 2dvw;
            padding-top: 2dvw;
        }
    }

    .two-pane {
        display: flex;

        @media (orientation: landscape) {
            max-width: 100dvw;
        }

        @media (orientation: portrait) {
            flex-direction: column;
            max-height: 100dvh;
        }

        .two-pane-left {
            display: flex;
            flex-direction: column;
            text-align: center;
            object-fit: cover;

            @media (orientation: landscape) {
                min-width: 50dvw;
                max-width: 50dvw;
            }

            @media (orientation: portrait) {
                min-height: 50dvh;
                max-height: 50dvh;
            }
        }

        .two-pane-right {
            display: flex;
            flex-direction: column;
            text-align: center;
            object-fit: cover;

            @media (orientation: landscape) {
                min-width: 50dvw;
                max-width: 50dvw;
            }

            @media (orientation: portrait) {
                min-height: 50dvh;
                max-height: 50dvh;
            }

            &.location-right {
                padding: 0;
            }
        }
    }

    .the-bride {
        .the-bride-left {
            object-position: 0 0;
        }

        .the-bride-right {
            background-color: #cdbdeb;
        }
    }

    .the-groom {
        .the-groom-left {
            background-color: #ffd7d6;
        }
    }

    .love-story {
        background-color: #89CFF0;
        font-family: 'Open Sans', sans-serif;

        .love-story-left {
            object-fit: cover;

            @media (orientation: portrait) {
                height: 50dvh;
                width: 100dvw;
            }

            @media (orientation: landscape) {
                width: 50dvw;
                height: 100dvh;
            }
        }
    }

    .love-story-two {
        display: grid;
        background-color: #dbe098;
        font-family: 'Open Sans', sans-serif;

        @media (orientation: portrait) {
            font-size: 3dvw;
        }

        @media (orientation: landscape) {
            font-size: 1dvw;
        }

        .story-caption {
            padding: 5dvw;
        }

        @media (orientation: portrait) {
            grid-template-areas:
                "story-one-pic story-one-caption"
                "story-two-caption story-two-pic";
        }

        @media (orientation: landscape) {
            grid-template-areas:
                "story-one-pic story-two-caption story-three-pic story-four-caption"
                "story-one-caption story-two-pic story-three-caption story-four-pic";
        }

        .story-one-pic { grid-area: story-one-pic; }
        .story-one-caption { grid-area: story-one-caption; }
        .story-two-pic { grid-area: story-two-pic; }
        .story-two-caption { grid-area: story-two-caption; }
        .story-three-pic { grid-area: story-one-pic; }
        .story-three-caption { grid-area: story-one-caption; }
        .story-four-pic { grid-area: story-two-pic; }
        .story-four-caption { grid-area: story-two-caption; }

        img {
            object-fit: cover;

            @media (orientation: landscape) {
                min-width: 50dvw;
                max-width: 50dvw;
                height: 50dvh;
            }

            @media (orientation: portrait) {
                min-height: 50dvh;
                max-height: 50dvh;
                width: 50dvw;
            }
        }

        .love-story-heading {
            font-family: 'Brolimo', sans-serif;
        }

        .love-story-text {
            font-family: 'Open Sans', sans-serif;
        }
    }

    .location {
        background-color: #FFFDD0;
    }

    .rsvp {
        background-color: #B2AC88;

        .MuiButton-contained {
            background-color: #594c04;
            border-color: #594c04;
            font-weight: bold;
            font-size: 16pt;
            padding: 0 5dvw;
            text-transform: lowercase;
        }

        .MuiButton-outlined {
            border-color: #594c04;
            color: #594c04;
            font-weight: bold;
            font-size: 16pt;
            padding: 0 5dvw;
            text-transform: lowercase;
        }

        .submit-button {
            margin-top: 5dvw;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
        }

        .Mui-disabled {
            background-color: #595744;
        }

        .rsvp-left {
            object-fit: cover;

            @media (orientation: portrait) {
                height: 50dvh;
                width: 100dvw;
            }

            @media (orientation: landscape) {
                width: 50dvw;
                height: 100dvh;
            }
        }

        .rsvp-controls {
            max-width: 75%;
        }
    }

    .gift-info {
        background-color: #F1C0B9;

        .gift-info-left {
            div {
                padding-left: 5dvw;
                padding-right: 5dvw;
            }

            br {
                display: block;
            }
        }

        .gift-info-right {
            object-fit: cover;

            @media (orientation: portrait) {
                height: 50dvh;
                width: 100dvw;
            }

            @media (orientation: landscape) {
                width: 50dvw;
                height: 100dvh;
            }
        }
    }

    .rules {
        background-color: #D3B5E5;
        text-align: center;

        .attire {
            padding: 0 5dvw;
        }

        .palette {
            display: grid;
            grid-template-columns: auto auto auto auto;
            margin: 5dvh auto;

            @media (orientation: landscape) {
                width: 56dvh;

                .color {
                    height: 10dvh;
                    width: 10dvh;
                    border-radius: 10dvh;
                    margin: 2dvh;
                }
            }

            @media (orientation: portrait) {
                width: 56dvw;

                .color {
                    height: 10dvw;
                    width: 10dvw;
                    border-radius: 10dvw;
                    margin: 2dvw;
                }
            }

            .color-1 { background-color: #ee7ea0; }
            .color-2 { background-color: #ffa9ba; }
            .color-3 { background-color: #ffd7d6; }
            .color-4 { background-color: #ea7d70; }
            .color-5 { background-color: #f69f95; }
            .color-6 { background-color: #ffaf6e; }
            .color-7 { background-color: #ffcc80; }
            .color-8 { background-color: #ffe2a6; }
            .color-9 { background-color: #bcc07b; }
            .color-10 { background-color: #dbe098; }
            .color-11 { background-color: #d5e2d3; }
            .color-12 { background-color: #9a81b0; }
            .color-13 { background-color: #cdbdeb; }
            .color-14 { background-color: #8e715b; }
            .color-15 { background-color: #c9a98d; }
            .color-16 { background-color: #e5daca; }
        }
    }

    .thanks {
        text-align: center;
        background-color: #e5daca;

        div {
            padding-left: 5dvw;
            padding-right: 5dvw;
        }

        .title {
            font-family: 'Whispering Signature', serif;

            @media (orientation: portrait) {
                margin-top: 6dvw;
                font-size: 6dvw;
            }

            @media (orientation: landscape) {
                margin-top: 2.5dvw;
                font-size: 2.5dvw;
            }
        }
    }
}

.slide {
    width: 100dvw;
    height: 100dvh;
    scroll-snap-align: start;
}

.guest {
    cursor: pointer;
}