.page {
    font-family: Lato, sans-serif;
    font-size: 3vw;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    .welcome {
        background-image: url("../../../public/images/retta2.jpg");
        background-size: cover;
        background-position: 15% 0;
        text-align: center;

        .title {
            font-size: 7vw;
        }
    }

    .one-pane {
        width: 100vw;
        padding: 2vh 2vw;
    }

    .pane-header {
        font-size: 24pt;
        margin-bottom: 24pt;
    }

    .two-pane {
        display: flex;
        width: 100vw;
        padding: 2vh 2vw;

        @media (orientation: portrait) {
            flex-direction: column;
            height: 100vh;
        }

        .two-pane-left {
            display: flex;
            flex-direction: column;
            font-size: 12pt;
            text-align: center;
            background-size: 100vw;
            background-position: center center; /* Optional: centers the image within the element */
            background-repeat: no-repeat; /* Optional: prevents image repetition */

            @media (orientation: landscape) {
                width: 50vw;
            }

            @media (orientation: portrait) {
                height: 50vh;
            }
        }

        .two-pane-right {
            display: flex;
            flex-direction: column;
            font-size: 12pt;
            text-align: center;
            background-size: cover;

            @media (orientation: landscape) {
                width: 50vw;
            }

            @media (orientation: portrait) {
                height: 50vh;
            }
        }
    }

    .love-story {
        .love-story-left {
            background-image: url("../../../public/images/retta1.jpg");
        }
    }

    .rsvp-right {
        background-image: url("../../../public/images/retta3.jpg");
    }

    .gift-info-left {
        background-image: url("../../../public/images/retta4.jpg");
    }
}

.slide {
    width: 96vw;
    height: 96vh;
    scroll-snap-align: start;
}

.guest {
    cursor: pointer;
}