.overlay {
    background-color: rgba(31, 31, 31, 0.5);
    backdrop-filter: blur(5vh);
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    top: 0;
    color: rgb(255, 253, 208);

    .overlay-content {
        transform: translate(0%, -50%);
        position: fixed;
        bottom: 50vh;
        text-align: center;
        width: 100vw;

        .title {
            font-family: 'Garamond', serif;
            font-weight: bold;

            @media (orientation: portrait) {
                font-size: 10vw;
                padding: 4vw 0;
            }

            @media (orientation: landscape) {
                font-size: 2.5vw;
            }
        }

        .subtitle {
            @media (orientation: portrait) {
                font-size: 4vw;
            }

            @media (orientation: landscape) {
                font-size: 1vw;
            }
        }
    }

    .loader-and-button {
        position: fixed;
        top: 70vh;
        width: 100vw;
        text-align: center;

        .MuiButton-contained {
            background-color: #807a4d;
            border-color: #807a4d;
            text-transform: lowercase;
            font-weight: bold;
        }

        .loader {
            border: 2px solid white;
            width: 50vw;
            margin-left: auto;
            margin-right: auto;

            .loading-bar {
                height: 5px;
                background-color: white;
            }
        }
    }
}

.page {
    font-family: Lato, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    @media (orientation: portrait) {
        font-size: 4vw;
    }

    @media (orientation: landscape) {
        font-size: 1vw;
    }

    .welcome {
        text-align: center;
        position: relative;

        .welcome-image {
            object-fit: cover;
            overflow: hidden;

            @media (orientation: portrait) {
                transform: translate(-15%, 0);
                height: 100vh;
            }

            @media (orientation: landscape) {
                width: 100vw;
                height: 100vh;
            }
        }

        .welcome-group {
            position: absolute;
            top: 8vh;
            left: 50vw;
            transform: translate(-50%, 0%);
            background-color: rgb(255, 253, 208);
            border-radius: 100vw;
            box-shadow: 0 0 2vh #333129;
            backdrop-filter: blur(5vh);

            @media (orientation: portrait) {
                padding: 4vw 8vw;
            }

            @media (orientation: landscape) {
                padding: 1vw 4vw;
            }

            .title {
                font-family: 'Garamond', serif;
                font-weight: bold;
                white-space: normal;

                @media (orientation: portrait) {
                    font-size: 8vw;
                    width: 70vw;
                }

                @media (orientation: landscape) {
                    font-size: 2.5vw;
                    width: 40vw;
                }
            }

            .subtitle {
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (orientation: landscape) {
                    font-size: 1vw;
                }

                @media (orientation: portrait) {
                    font-size: 3vw;
                    font-weight: bold;
                }
            }
        }

        .welcome-content {
            position: absolute;
            bottom: 10vh;
            left: 50vw;
            transform: translate(-50%, 0%);
            background-color: rgb(255, 253, 208);
            /*background-color: rgba(255, 251, 161, 0.5);*/
            border-radius: 100vw;
            box-shadow: 0 0 2vh #333129;
            backdrop-filter: blur(5vh);

            @media (orientation: portrait) {
                padding: 4vw;
                width: 68vw;
            }

            @media (orientation: landscape) {
                padding: 1vw;
                width: 30vw;
            }

            .title {
                font-family: 'Garamond', serif;
                font-weight: bold;

                @media (orientation: portrait) {
                    font-size: 8vw;
                }

                @media (orientation: landscape) {
                    font-size: 2.5vw;
                }
            }

            .subtitle {
                @media (orientation: landscape) {
                    font-size: 1vw;
                }

                @media (orientation: portrait) {
                    font-size: 3vw;
                    font-weight: bold;
                }
            }
        }
    }

    .one-pane {
        width: 100vw;
    }

    .pane-header {
        font-family: 'Garamond', serif;
        font-weight: bold;

        @media (orientation: portrait) {
            font-size: 7vw;
            padding-bottom: 5vw;
            padding-top: 4vh;
        }

        @media (orientation: landscape) {
            font-size: 2vw;
            padding-bottom: 2vw;
            padding-top: 2vw;
        }
    }

    .two-pane {
        display: flex;

        @media (orientation: landscape) {
            max-width: 100vw;
        }

        @media (orientation: portrait) {
            flex-direction: column;
            max-height: 100vh;
        }

        .two-pane-left {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-size: 100vw;
            background-position: center center; /* Optional: centers the image within the element */
            background-repeat: no-repeat; /* Optional: prevents image repetition */

            @media (orientation: landscape) {
                min-width: 50vw;
                max-width: 50vw;
            }

            @media (orientation: portrait) {
                min-height: 50vh;
                max-height: 50vh;
            }
        }

        .two-pane-right {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-size: cover;

            @media (orientation: landscape) {
                min-width: 50vw;
                max-width: 50vw;
            }

            @media (orientation: portrait) {
                min-height: 50vh;
                max-height: 50vh;
            }

            &.location-right {
                padding: 0;
            }
        }
    }

    .love-story {
        background-color: #89CFF0;

        .love-story-left {
            object-fit: cover;

            @media (orientation: portrait) {
                height: 50vh;
                width: 100vw;
            }

            @media (orientation: landscape) {
                width: 50vw;
                height: 100vh;
            }
        }
    }

    .location {
        background-color: #FFFDD0;
    }

    .rsvp {
        background-color: #B2AC88;

        .MuiButton-contained {
            background-color: #594c04;
            border-color: #594c04;
            font-weight: bold;
            font-size: 16pt;
            padding: 0 5vw;
            text-transform: lowercase;
        }

        .MuiButton-outlined {
            border-color: #594c04;
            color: #594c04;
            font-weight: bold;
            font-size: 16pt;
            padding: 0 5vw;
            text-transform: lowercase;
        }

        .submit-button {
            margin-top: 5vw;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
        }

        .Mui-disabled {
            background-color: #595744;
        }

        .rsvp-left {
            object-fit: cover;

            @media (orientation: portrait) {
                height: 50vh;
                width: 100vw;
            }

            @media (orientation: landscape) {
                width: 50vw;
                height: 100vh;
            }
        }

        .rsvp-controls {
            max-width: 75%;
        }
    }

    .gift-info {
        background-color: #F1C0B9;
    }

    .gift-info-right {
        object-fit: cover;

        @media (orientation: portrait) {
            height: 50vh;
            width: 100vw;
        }

        @media (orientation: landscape) {
            width: 50vw;
            height: 100vh;
        }
    }

    .rules {
        background-color: #D3B5E5;
        text-align: center;
    }
}

.slide {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.guest {
    cursor: pointer;
}