@font-face {
    font-family: 'Whispering Signature';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/WhisperingSignature.woff') format('woff');
}

@font-face {
    font-family: 'Cailyne';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/Cailyne.otf') format('opentype');
}

@font-face {
    font-family: 'Jasmine Reminiscentse';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/JasmineReminiscentse.ttf') format('truetype');
}

@font-face {
    font-family: 'Neoteric';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/NEOTERIC.ttf') format('truetype');
}

@font-face {
    font-family: 'Brolimo';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/font/brolimo.woff2') format('woff');
}

.page {
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

    @media (orientation: portrait) {
        font-size: 4dvw;
    }

    @media (orientation: landscape) {
        font-size: 1dvw;
    }

    .welcome {
        text-align: center;
        position: relative;

        .welcome-image {
            object-fit: cover;
            overflow: hidden;

            @media (orientation: portrait) {
                transform: translate(-32%, -15%);
                width: 150dvw;
                min-height: 140dvh;
            }

            @media (orientation: landscape) {
                width: 100dvw;
                min-height: 100dvh;
                transform: translate(0, -35%);
            }
        }

        .welcome-group {
            position: absolute;
            top: 8dvh;
            transform: translate(-50%, 0%);
            /*background-color: rgb(255, 253, 208);*/
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5dvw;
            /*box-shadow: 0 0 2dvh #333129;*/
            backdrop-filter: blur(0.5dvh);

            @media (orientation: portrait) {
                padding: 4dvw 8dvw;
                left: 50dvw;
            }

            @media (orientation: landscape) {
                padding: 1dvw 4dvw;
                left: 20dvw;
            }

            .title {
                font-family: 'Neoteric', sans-serif;
                white-space: normal;

                @media (orientation: portrait) {
                    font-size: 6dvw;
                    width: 70dvw;
                }

                @media (orientation: landscape) {
                    font-size: 2.5dvw;
                    width: 25dvw;
                }
            }

            .subtitle {
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Cailyne', sans-serif;

                @media (orientation: landscape) {
                    font-size: 1dvw;
                }

                @media (orientation: portrait) {
                    font-size: 3dvw;
                    font-weight: bold;
                }
            }

            .name {
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Open Sans', sans-serif;

                @media (orientation: landscape) {
                    font-size: 1dvw;
                }

                @media (orientation: portrait) {
                    font-size: 3dvw;
                    font-weight: bold;
                }
            }
        }

        .welcome-content {
            position: absolute;
            bottom: 10dvh;
            transform: translate(-50%, 0%);
            /*background-color: rgb(255, 253, 208);*/
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 5dvw;
            /*box-shadow: 0 0 2dvh #333129;*/
            backdrop-filter: blur(0.5dvh);

            @media (orientation: portrait) {
                padding: 4dvw;
                width: 68dvw;
                left: 50dvw;
            }

            @media (orientation: landscape) {
                padding: 1dvw;
                width: 30dvw;
                left: 20dvw;
            }

            .title {
                font-family: 'Whispering Signature', serif;

                @media (orientation: portrait) {
                    font-size: 7dvw;
                }

                @media (orientation: landscape) {
                    font-size: 2.5dvw;
                }
            }

            .subtitle {
                font-family: 'Cailyne', sans-serif;

                @media (orientation: landscape) {
                    font-size: 1dvw;
                }

                @media (orientation: portrait) {
                    font-size: 3dvw;
                    font-weight: bold;
                }
            }
        }
    }

    .one-pane {
        width: 100dvw;
    }

    .pane-header {
        font-family: 'Jasmine Reminiscentse', sans-serif;

        @media (orientation: portrait) {
            font-size: 12dvw;
            padding-bottom: 5dvw;
            padding-top: 4dvh;
        }

        @media (orientation: landscape) {
            font-size: 5dvw;
            padding-bottom: 2dvw;
            padding-top: 2dvw;
        }
    }

    .two-pane {
        display: flex;

        @media (orientation: landscape) {
            max-width: 100dvw;
        }

        @media (orientation: portrait) {
            flex-direction: column;
            max-height: 100dvh;
        }

        .two-pane-left {
            display: flex;
            flex-direction: column;
            text-align: center;
            object-fit: cover;

            @media (orientation: landscape) {
                min-width: 50dvw;
                max-width: 50dvw;
            }

            @media (orientation: portrait) {
                min-height: 50dvh;
                max-height: 50dvh;
            }
        }

        .two-pane-right {
            display: flex;
            flex-direction: column;
            text-align: center;
            object-fit: cover;

            @media (orientation: landscape) {
                min-width: 50dvw;
                max-width: 50dvw;
            }

            @media (orientation: portrait) {
                min-height: 50dvh;
                max-height: 50dvh;
            }

            &.location-right {
                padding: 0;
            }
        }
    }
}

.slide {
    width: 100dvw;
    height: 100dvh;
    scroll-snap-align: start;
    overflow: hidden;
}

.guest {
    cursor: pointer;
}