.image-scroll {
    position: relative;
    height: 100%;
    width: 100%;

    @media (orientation: portrait) {
        overflow-x: scroll;
    }

    @media (orientation: landscape) {
        overflow-y: scroll;
    }
}

.image-scroll::-webkit-scrollbar {
    display: none;
}

.image-scroll-inner {
    position: absolute;
    display: flex;

    @media (orientation: portrait) {
        flex-direction: row;
        min-height: 100%;
        max-height: 100%;
        min-width: 1px;
        gap: 2vw;
    }

    @media (orientation: landscape) {
        flex-direction: column-reverse;
        gap: 1vh;
    }

    img {
        object-fit: contain;

        @media (orientation: portrait) {
            min-height: 50dvh;
            max-height: 50dvh;
            min-width: 1px;
        }

        @media (orientation: landscape) {
            height: auto;
            width: 100%;
        }
    }
}